<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>AngularRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "lib/angular", "lib/angular-route","lib/angular-resource" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body >

<%= yield %>

</body>
</html>
