<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>AngularRails</title>
  <link data-require="bootstrap-css@*" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
  <script data-require="bootstrap@2.3.2" data-semver="2.3.2" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script data-require="ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "lib/angular", "lib/angular-route","lib/angular-resource","lib/angular-animate" %>
  <%= javascript_include_tag "application","categories" %>

  <%= csrf_meta_tags %>
</head>
<body >

<%= yield %>

</body>
</html>
